.container {
    width: 90%;
    padding: 15px;
    height: auto;
    background-color: azure;
    margin-left: 5%;
    display: inline-flex;
}   

#formSearch {
    width: 30%;
    height: auto;
    margin: 20px;
}

table, th, td {
    border: solid black 1px;
}

table {
    width: 30%;
    height: auto;
    margin: 20px;
}

input {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    
}

.weather{
    width: 30%;
    margin: 20px;
    height: 180px;
    border: black solid 2px;
    border-radius: 5px;
    display: block;
    background-color: white;
    text-align: center;
}

.label {
    font-family: 'Arial Narrow Bold';
    font-size: 2em;
    width: 100%;
    display: block;
}

.oscuro {
    background-color: black;
    color: blanchedalmond;
}

.claro {
    background-color: blanchedalmond;
    color: black
}

img {
    text-align: center;
}